#Hero-Section {
  background-image: url("../imagenes/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#Hero-Section h1 {
  text-align: center;
  padding-top: 250px;
  padding-bottom: 15px;
}

#Hero-Section p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.boton {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 120px;
}

.boton:hover {
  transform: scale(1.05);
}

#Acerca-de-mi {
  background-image: url("../imagenes/fondorosa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#Acerca-de-mi h2 {
  padding-top: 150px;
  font-size: 30px;
}

#Acerca-de-mi p {
  padding-bottom: 20px;
}

.row h3 {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 170px;
  padding-right: 120px;
  font-size: 28px;

}

.row h4 {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 120px;
  font-size: 28px;
}

.row p {
  padding-left: 170px;
  padding-right: 120px;
}

#proyectos {
  width: 100%;
  padding: 60px;
  background-color: rgba(128, 128, 128, 0.5)
}

.card-text{
  padding: 0px;
  margin: 0px;
}
