#Hero-Section {
  background-image: url("../imagenes/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#Hero-Section h1 {
  text-align: center;
  padding-top: 250px;
  padding-bottom: 15px;
}

#Hero-Section p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.boton {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 120px;
}

.boton:hover {
  transform: scale(1.05);
}


#Acerca-de-mi {
  background-image: url("../imagenes/fondorosa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 30px;
}

#Acerca-de-mi h2 {
  font-size: 30px;
  padding-top: 30px;
}

#Acerca-de-mi p {
  padding-bottom: 20px;
}


#proyectos {
  width: 100%;
  padding: 60px;
  background-color: rgba(128, 128, 128, 0.5)
}

